.container {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0d2538;
  flex-direction: column;
}

#canvas {
  cursor: move;
}

.description {
  color: #fff;
  margin-top: 10px;
}